<h1>Inventories#show</h1>

<div class="inventories">
  <h2 class='inventory-name'></h2>
  <hr>
  <table class='food-table'>
          <thead>
            <tr>
              <th>Food</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @inventory.each do |inventory| %>
              <tr>
                <td><%= inventory.food.name %></td>
                <td><%= inventory.quantiry %> <%=inventory.food.measurement_unit%></td>
                <td><%= button_to "Remove", @inventory, method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
</div>

<%= link_to "Back to inventories", inventories_path %>
