<div class="publics">
    <ul class="publics-list">
        <% @publics.each do |public|%>
            <li>
                <div class="label">
                    <h2><%=link_to recipe_path(public.id), :class => 'title_anchor' do%><%= public.name%><%end%>
                    </h2>
                    <p> By: <%= current_user.email %></p>
                </div>
                <div class="details">
                    <p> Total food items : <%= public.recipe_foods.length %></p>
                    <p> Total price: --</p>
                    <%= button_to 'Remove', recipe_path(public.id), method: :delete, class: "delete_btn" %>
                </div>
            </li>
        <%end%>
    <ul>
</div>
