<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "public", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">

   <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="navbar">
      <div class="navbar_container">
        <div class="navbar_logo">
          <a href="/">RecipeApp</a>
        </div>
        <div class="navbar_links">
          <a href="/recipes">Recipes</a>
          <a href="/inventories">Inventories</a>
          <a href="/publics">Public Recipes</a>
        </div>
      </div>
      <div class="session">
        <%if user_signed_in?%>
          <p class="user_email"><%= current_user.email %></p>
          <%= button_to "Log out", destroy_user_session_path, method: :delete %>
          <%= link_to "Account Settings", edit_user_registration_path %>
          <br>
        <%else%>
          <%= link_to "Log in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
          <br>
        <%end%>
      </div>
    </div>
    <%= yield %>
    <div>
  </body>
</html>
